<html>
  <head>
    <title>Hacker News</title>
    <link rel="stylesheet" href="/public/css/news.css" />
  </head>
  <body>
    <ul class="news-view view">
      <% for(let item of list) {%>
        <li class="item">
          <a href="<%= item.url %>"><%= item.title?item.title:'暂无标题' %></a>
          <span><%= helper.moment(item.created_at).format('YYYY-MM-DD')%></span>
        </li>
      <% } %>
    </ul>
  </body>
</html>